.nav,
.site-nav,
.auth-nav,
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.site-nav .link,
.auth-nav .link {
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;

  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;

  transition: fill 250ms $time-function, color 250ms $time-function;
}

.auth-nav .link {
  color: $primary-text-color;
  margin-left: 10px;
  fill: $primary-text-color;
  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &.link:not(:last-child) {
    margin-right: 50px;
  }
}

.icon-container {
  display: flex;
  margin-right: 10px;
}

.head-icon {
  height: 100%;
  background-size: contain;
}
.site-nav .link {
  &.current {
    position: relative;
    color: $accent-color;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
